<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>UpdateBtns</th>
      </tr>
    </thead>
   <tbody>
    <tr *ngFor="let x of data">
      <td>{{ x.id }}</td>
      <td>{{ x.title }}</td>
      <td>{{ x.Description }}</td>
      <button type="button" (click)="onDelete(x.id)">Delete</button>
      <button type="button" (click)="onUpdate({id: x.id})">Update</button>
    </tr>
   </tbody> 
  </table>
  <div *ngIf="updateMode" class="update">
    <hr>
    <label>ID :</label>
    <input type="number" value="" name="Id" [(ngModel)]="id"><br>
    <label>Title :</label>
    <input type="text" value="" name="title" [(ngModel)]="title"> <br>
    <label>Description:</label>
    <input type="text" value="" name="description" [(ngModel)]="description">
    <button type="button" (click)="ToUpdate()">Update</button>
  </div>
</div>